<div>
  <h2 id="page-heading" data-cy="BorrowedBookHeading">
    <span jhiTranslate="libraryApp.borrowedBook.home.title">Borrowed Books</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-sm btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="libraryApp.borrowedBook.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        data-cy="entityCreateButton"
        class="btn btn-sm btn-primary jh-create-entity create-borrowed-book"
        [routerLink]="['/borrowed-book/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="libraryApp.borrowedBook.home.createLabel"> Create a new Borrowed Book </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="borrowedBooks?.length === 0">
    <span jhiTranslate="libraryApp.borrowedBook.home.notFound">No borrowedBooks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="borrowedBooks && borrowedBooks.length > 0">
    <table class="table text-sm table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="borrowDate">
            <span jhiTranslate="libraryApp.borrowedBook.borrowDate">Borrow Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="returnDate">
            <span jhiTranslate="libraryApp.borrowedBook.returnDate">Return Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="libraryApp.borrowedBook.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="book.name">
            <span jhiTranslate="libraryApp.borrowedBook.book">Book</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <!--          <th scope="col" jhiSortBy="client.login">-->
          <!--            <span jhiTranslate="libraryApp.borrowedBook.client">Client</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let borrowedBook of borrowedBooks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/borrowed-book', borrowedBook.id, 'view']">{{ borrowedBook.id }}</a>
          </td>
          <td>{{ borrowedBook.borrowDate | formatMediumDate }}</td>
          <td>{{ borrowedBook.returnDate | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'libraryApp.Status.' + borrowedBook.status }}">{{ borrowedBook.status }}</td>
          <td>
            <div *ngIf="borrowedBook.book">
              <a [routerLink]="['/book', borrowedBook.book?.id, 'view']">{{ borrowedBook.book?.name }}</a>
            </div>
          </td>

          <td class="text-right">
            <div class="btn-group-sm">
              <!--<button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/borrowed-book', borrowedBook.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="libraryApp.borrowedBook.return">Return</span>
              </button>-->
              <button
                type="submit"
                [disabled]="borrowedBook.status === 'RETURNED'"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                (click)="returnBook(borrowedBook)"
                class="btn btn-primary btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="check"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="libraryApp.borrowedBook.return">Return</span>
              </button>

              <button
                type="submit"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                [routerLink]="['/borrowed-book', borrowedBook.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                [routerLink]="['/borrowed-book', borrowedBook.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                type="submit"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                (click)="delete(borrowedBook)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="borrowedBooks && borrowedBooks.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
