<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-borrowed-book-heading"
        data-cy="BorrowedBookCreateUpdateHeading"
        jhiTranslate="libraryApp.borrowedBook.home.createOrEditLabel"
      >
        Create or edit a Borrowed Book
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="libraryApp.borrowedBook.borrowDate" for="field_borrowDate">Borrow Date</label>
          <div class="input-group">
            <input
              id="field_borrowDate"
              data-cy="borrowDate"
              type="text"
              class="form-control"
              name="borrowDate"
              ngbDatepicker
              #borrowDateDp="ngbDatepicker"
              formControlName="borrowDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="borrowDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="libraryApp.borrowedBook.returnDate" for="field_returnDate">Return Date</label>
          <div class="input-group">
            <input
              id="field_returnDate"
              data-cy="returnDate"
              type="text"
              class="form-control"
              name="returnDate"
              ngbDatepicker
              #returnDateDp="ngbDatepicker"
              formControlName="returnDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="returnDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="libraryApp.borrowedBook.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'libraryApp.Status.null' | translate }}</option>
            <option *ngFor="let status of statusValues" [value]="status">{{ 'libraryApp.Status.' + status | translate }}</option>
          </select>
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="libraryApp.borrowedBook.book" for="field_book">Book</label>
          <select class="form-control" id="field_book" data-cy="book" name="book" formControlName="book">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="bookOption.id === editForm.get('book')!.value?.id ? editForm.get('book')!.value : bookOption"
              *ngFor="let bookOption of booksCollection; trackBy: trackBookById"
            >
              {{ bookOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="libraryApp.borrowedBook.client" for="field_client">Client</label>
          <select class="form-control" id="field_client" data-cy="client" name="client" formControlName="client">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
