/* ==========================================================================
Main page styles
========================================================================== */

/*@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i';
@import '../../content/landing/assets/vendor/bootstrap/css/bootstrap.min.css';
@import '../../content/landing/assets/vendor/bootstrap/css/bootstrap.min.css';
@import '../../content/landing/assets/vendor/bootstrap-icons/bootstrap-icons.css';
@import '../../content/landing/assets/vendor/boxicons/css/boxicons.min.css';
@import '../../content/landing/assets/vendor/glightbox/css/glightbox.min.css';
@import '../../content/landing/assets/vendor/remixicon/remixicon.css';
@import '../../content/landing/assets/vendor/swiper/swiper-bundle.min.css';
@import '../../content/landing/assets/css/style.css';*/

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
    background-size: contain;
  }
}
